body,
html
{
	padding: 0;
	margin: 0;
	background: #333;
}

#container
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.org_video_container
{
	position: fixed;
	overflow: hidden;
}

.org_video_container video
{
	opacity: 0.5;
}

.org_video_container_playing video
{
	opacity: 1.0;
}

.org_video_container .overlay
{
	position: relative;
	top: -40px;
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
	color: rgba(255, 255, 255, 0.75);
}

.org_video_container_playing .overlay
{
	display: none;
}

#footer
{
	position: fixed;
	z-index: 9999;
	font-family: arial;
	font-size: 12px;
	color: #fff;
	background: #000;
	opacity: 0.5;
	right: 0;
	bottom: 0;
	padding: 4px;
}

#footer a,
#footer a:visited,
#footer a:active
{
	color: #8df;
	text-decoration: none;
}

#footer a:hover
{
	color: #fff;
	text-decoration: underline;
}


